<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.westerley.quizlibras">

    <uses-permission
        android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.QuizLibraActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.InfoActivity" />
        <activity android:name=".activities.ExtrasActivity" />
        <activity android:name=".activities.DesenvolvedorActivity"></activity>
    </application>

</manifest>
